.content {
	display: flex;
	height: 90vh;
	background: var(--editor-filename-background);
	padding: 5px;
}

.editor_wrapper {
	width: 50%;
	height: 100%;
	padding: 0 0 0 5px;
}

.editor_outline {
	border: var(--editor-border);
	border-right: none;
	border-top-left-radius: 8px;
	height: 100%;
}

.editor_topbar {
	display: flex;
	align-items: center;
	background: var(--editor-topbar-wrapper-background);
	border-bottom: var(--editor-border);
	border-top-left-radius: 8px;
	height: 50px;
}

.editor_filename {
	border-right: var(--editor-border);
	color: var(--editor-filename-color);
	display: inline-flex;
	align-items: center;
	background: var(--editor-topbar-wrapper-background);
	line-height: 24px;
	padding: 12px 24px;
	font-family: "Questrial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	border-top-left-radius: 8px;
}

.editor_dropdown {
	/* padding: 7px 25px; */
	padding: 6px 0px;
	background: var(--editor-topbar-wrapper-background);
	display: flex;
}

.editor_dropdown i {
	font-size: 16px;
	color: var(--editor-topbar-wrapper-color);
	border: var(--editor-border);
	border-radius: 3px;
	padding: 7px 10px;
}

.tooltip {
	padding-right: 6px;
	padding-left: 6px;
	position: relative;
	display: flex;
	cursor: pointer;
}

.tooltip i:hover {
	background-color: var(--sidebar-active-background);
}

.tooltip .tooltiptext {
	visibility: hidden;
	padding: 0.5em 0.5em;
	font-size: 14px;
	/* background: #252526; */
	background: #2f2f33;
	font-family: "Questrial", sans-serif;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	white-space: nowrap;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 120%;
	left: -50%;
	transition-property: visibility;
	transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
	background: rgb(32, 31, 31);
	visibility: visible;
	transition-delay: 0.3s;
	transition: 1s ease-in-out;
}

.editor_topbar_wrapper {
	background: var(--editor-topbar-wrapper-background);
	width: 100%;
	padding: 0px 4px 0px 8px;
	font-size: 12px;
	/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
	font-family: "Source Code Pro", monospace;
	color: #ffffff;
}

.editor_run_button {
	display: flex;
	padding: 7px 25px 7px 8px;
}

.run {
	font-family: "Questrial", sans-serif;
	cursor: pointer;
	padding: 6px 16px;
	/* background: #05acf3; */
	background-color: rgb(43, 186, 186);
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	border: none;
	outline: none;
	border-radius: 2px;
	z-index: 109;
	font-weight: bold;
}

.run:hover {
	/* background: #0483b9; */
	background: rgb(20, 150, 150);
}

.run:disabled {
	cursor: not-allowed;
	background-color: rgb(7, 111, 111);
}

.fullscreen {
	height: calc(100% - 50px);
	width: 100%;
	border-right: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.terminal_wrapper {
	height: 100%;
	width: 45%;
	z-index: 110;
	padding: 0;
}

.output {
	/* height: 60vh; */
	height: 60%;
	border-right: var(--editor-border);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.terminal_topbar {
	height: 50px;
	display: flex;
	align-items: center;
	background: var(--editor-topbar-wrapper-background);
	border-top: var(--editor-border);
	border-bottom: var(--editor-border);
	border-top-right-radius: 8px;
}

.editor_output {
	/* height: 51vh; */
	/* height: 85%; */
	height: calc(100% - 50px);
	width: 100%;
	background-color: var(--editor-output-background);
	color: var(--editor-output-color);
	text-align: left;
	padding: 10px 15px;
	font-family: "Source Code Pro", monospace;
	white-space: pre-wrap;
	line-height: 20px;
	font-size: 13px;
	overflow-y: scroll;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.editor_output::-webkit-scrollbar {
	display: none;
}

.input {
	/* height: 40vh; */
	height: calc(100% - 60%);
	border: var(--editor-border);
	border-left: none;
	border-top: none;
	border-top-left-radius: 8px;
}

.editor_input {
	color: var(--editor-output-color);
	background-color: var(--editor-input-background);
	resize: none;
	border: none;
	padding: 14px;
	outline: none;
	width: 100%;
	height: calc(100% - 50px);
	/* height: 60%; */
	/* height: 100%; */
	overflow-y: scroll;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	/* background-color: #f5f5f5; */
	font-family: "Source Code Pro", monospace;
	font-weight: 500;
	line-height: 20px;
	font-size: 13px;
}

.editor_input::-webkit-scrollbar {
	display: none;
}

.terminal_filename {
	border-right: var(--editor-border);
	color: var(--terminal-filename-color);
	display: inline-flex;
	align-items: center;
	line-height: 24px;
	padding: 12px 24px;
	font-family: "Questrial", sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.editor_clear_button {
	display: flex;
	padding: 10px 25px;
	justify-content: center;
}

.clear {
	font-family: "Questrial", sans-serif;
	cursor: pointer;
	padding: 6px 16px;
	font-size: 14px;
	line-height: 20px;
	color: var(--terminal-clear-button);
	border: var(--editor-border);
	background-color: transparent;
	outline: none;
	border-radius: 2px;
	z-index: 109;
}

.mobile_topbar {
	display: none;
}

@media (max-width: 800px) {
	.content {
		flex-direction: column;
		padding: 0;
	}

	.editor_wrapper {
		padding: 0;
	}

	.mobile_topbar {
		display: block;
		/* border-top: var(--editor-border); */
		padding: 5px;
		position: relative;
		background: var(--editor-topbar-wrapper-background);
	}

	.mobile_files {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mobile_topbar_button {
		background: transparent;
		border: var(--editor-border);
		border-radius: 2px;
		color: var(--editor-topbar-wrapper-color);
		padding: 10px 20px;
		font-size: 14px;
		font-family: "Questrial", sans-serif;
	}

	.active {
		/* background: #05acf3; */
		background-color: rgb(43, 186, 186);
		color: #ffffff;
		padding: 10px 20px;
		border-radius: 2px;
		font-size: 14px;
		font-family: "Questrial", sans-serif;
		border: none;
		outline: none;
	}

	.editor_wrapper {
		width: 100%;
	}

	.editor_outline {
		height: 100%;
	}

	.editor_topbar {
		border-top: var(--editor-border);
		border-radius: 0;
	}

	.editor_filename {
		border-right: var(--editor-border);
	}

	.tooltip i:hover {
		background-color: transparent;
	}

	.terminal_wrapper {
		width: 100%;
		background-color: var(--terminal-wrapper-background);
	}

	.terminal_topbar {
		border-top: var(--editor-border);
		border-radius: 0;
	}

	.terminal_filename {
		border-right: var(--editor-border);
	}

	.editor_output {
		height: 45vh;
	}

	.editor_input {
		height: 20vh;
	}

	.editor_run_button {
		background-color: var(--editor-topbar-wrapper-background);
		position: absolute;
		top: 2px;
		right: 8px;
		cursor: pointer;
		padding: 4px 12px;
		font-size: 12px;
		line-height: 20px;
		color: #ffffff;
		border: none;
		outline: none;
		border-radius: 2px;
		z-index: 109;
		display: flex;
		align-items: center;
	}
}
