.navbar {
	/* height: 80px; */
	height: 12vh;
	/* height: 35%; */
	background: #3e3e42;
	display: flex;
	align-items: center;
}

.logo_name {
	cursor: pointer;
	padding: 5px;
	margin-left: 35px;
	/* border: 2px solid black; */
	border-radius: 5px;
	font-weight: 100;
	font-family: "Century Gothic";
	font-size: 20px;
	font-weight: bold;
}

.logo_first {
	color: rgb(255, 255, 255);
	background-color: #1f1f20;
	border-radius: 3px;
	padding: 5px;
}

.logo_second {
	color: rgb(0, 0, 0);
	padding: 5px;
}

.logo_text {
	color: rgb(255, 255, 255);
	margin-left: 45px;
	font-family: "Century Gothic";
	font-size: 13px;
}
