.navbar {
	/* height: 80px; */
	/* height: 35%; */
	height: 12vh;
	/* background: #3e3e42; */
	background: var(--navbar-background);
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	padding: 15px;
}

.logo {
	font-family: "Playpen Sans", cursive;
}

.logo_name {
	cursor: pointer;
	padding: 2px;
	/* margin-left: 15px; */
	/* border: 2px solid black; */
	border-radius: 5px;
	font-weight: 100;
	font-size: 20px;
	font-weight: bold;
}

.logo_first {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	padding: 4px;
}

.logo_second {
	color: rgba(0, 0, 0, 0.8);
	padding: 2px;
}

.logo_text {
	color: var(--logo-text);
	font-size: 11px;
	padding: 2px;
}

#mobile {
	display: none;
}

.nav_menu {
	display: none;
}

@media (max-width: 800px) {
	.navbar {
		height: 10vh;
	}

	#mobile {
		display: block;
		z-index: 999;
	}

	#mobile i {
		font-size: 20px;
		color: var(--editor-topbar-wrapper-color);
	}

	.nav_menu {
		top: 0;
		right: -800px;
	}

	.nav_act {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: 0;
		width: 60%;
		height: 100vh;
		background: var(--mobile-navbar-slider-background);
		color: black;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		padding-top: 80px;
		z-index: 998;
		transition: 1s ease-in-out;
	}

	.language {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}

	.language_text {
		font-family: "Questrial", sans-serif;
		color: var(--editor-topbar-wrapper-color);
		margin-left: 16px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 5px;
	}
}
