.modal_wrapper {
	width: 100vw;
	height: 100vh;
	background-color: rgba(200, 200, 200, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal_container {
	width: 45vw;
	height: 50vh;
	border-radius: 12px;
	background: var(--reset-modal-background);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	/* padding: 25px; */
	color: var(--reset-modal-color);
	font-family: monospace;
}

.closeBtn {
	display: flex;
	justify-content: flex-end;
}

.modal_title {
	/* display: inline-block;
	text-align: center;
	margin-top: 10px; */

	display: flex;
	justify-content: space-between;
	padding: 20px 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal_body {
	padding: 20px;
	flex: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 16px;
	/* text-align: center; */
	line-height: 25px;
}

.modal_footer {
	flex: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.modal_footer button {
	width: 85px;
	height: 30px;
	margin: 10px;
	border: none;
	background-color: #4dd161;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	font-family: monospace;
}

.modal_footer button:hover {
	background-color: #38bf4c;
}

#cancelBtn {
	background-color: var(--reset-modal-cancel-btn);
}

#cancelBtn:hover {
	background-color: var(--reset-modal-cancel-btn-hover);
}

@media (max-width: 800px) {
	.modal_container {
		width: 90vw;
		height: 45vh;
	}

	.modal_body {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	.modal_body {
		font-size: 12px;
		line-height: 25px;
	}
}

@media (max-width: 400px) {
	.modal_container {
		width: 95vw;
		height: 45vh;
	}
}
